<a>
<div class="ui stackable card">
    <div class="image">
    <img id="event-image" class="genreimage" src="{{event_image}}">
  </div>
  <div class="content">
    <div class="header"><a href="/events/{{id}}">{{event_name}}</a></div>
    <div class="description">
      <a href="/artist/{{artist_id}}">{{User.name}}</a>
    </div>
    <div class="meta">
      <a><p id="address">{{address}}</p></a>
    </div>
    <div class="description">
      {{date}} 
      {{time}}
    </div>
  </div>
</div>
</a>

