{{!--  anchor tag to link to corresponding genre page --}}

<div class="ui fluid card">
    <a href="/genres/{{ id }}">
    <div class="image">
    <img class="genreimage" src="{{ banner }}">
    </div>
    <div class="content">
        <div class="header" id="genre-card-name">{{ name }}</div>
        <div class="meta">
            <a>{{address}}
        </div>
        <div class="description">
            {{ date }} {{ content }}
        </div>
    </div>
    </a>
</div>


