{{!--  anchor tag to link to corresponding genre page --}}

{{!-- <div class="ui fluid card inverted">
    <a href="/genres/{{ id }}">
    <div class="image" id="genre-image"><h1>{{ name }}</h1><img class="genre-image" src="{{ banner }}"></div>
    </a>
</div> --}}

<a href="/genres/{{ id}}">
<div class="ui fluid card inverted" style="height: 25vh;">
  <div class="image flexy" style="height: inherit;">
     <h1 id="genre-name-small">{{name}}</h1>
    <img src="{{banner}}" class="genre-image">
  </div>
</div>
</a>